body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}
*::-webkit-scrollbar {
  display: none;
}
i{
    padding-right: 20px;
}

.button {
    justify-content: left;
}
.button span{
    width: calc(100% - 80px);
    text-align: center;
    font-weight: 500;
}


